@import "functions";

/**
 * These values will not show up in content, but can be 
 * queried by JavaScript to know which breakpoint is active
 */

@media (max-width: 1199px) {
	body:before {
		content: "1199";
	}
}

@media (max-width: 991px) {
	body:before {
		content: "991";
	}
}

@media (max-width: 767px) {
	body:before {
		content: "767";
	}
}

@media (max-width: 650px) {
	body:before {
		content: "650";
	}
}

@media (max-width: 480px) {
	body:before {
		content: "480";
	}
}

@media (max-width: 1199px) {

	/******************/
	/* general layout */
	/******************/

	body {
		line-height: 22px;
		font-size: 16px;
	}
}

@media (max-width: 991px) {

	/****************/
	/* page content */
	/****************/

	.page-content {

		/***********/
		/* content */
		/***********/

		.content-wrapper {
			.content {
				.content-section {

					/**********************/
					/* subcategories menu */
					/**********************/

					&.subcategories-menu {
						ul {
							li {
								float: none;

								&:first-child {
									margin-left: 20px;
									padding: 5px 0 5px 26px;
									@include image('svgs/bullet.svg', 6px, 0 14px);
								}
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 767px) {

	/****************/
	/* page content */
	/****************/

	.page-content {

		/***********/
		/* sidebar */
		/***********/
		
		.sidebar-wrapper {
			.sidebar {
				.sidebar-content {
					.widget {
						display: none;
					}
				}
			}
		}

		/***********/
		/* content */
		/***********/

		.content-wrapper {
			border-left: 0;
			border-right: 0;
		}
	}
}

@media (max-width: 480px) {

	/****************/
	/* page content */
	/****************/

	.page-content {

		/***********/
		/* content */
		/***********/

		.content-wrapper {
			.content {
				.content-section {

					/*******/
					/* bio */
					/*******/

					&.bio {
						.bio-left,
						.bio-right {
							width: 100%;
						}

						.bio-left {
							margin-bottom: 20px;
						}
					}

					/************/
					/* featured */
					/************/

					&.featured {
						padding-bottom: 5px;

						.items {
							.item {
								margin-bottom: 15px;
								width: 100%;

								.item-excerpt {
									height: auto;
									max-height: 82px;
								}
							}
						}
					}

					/*****************/
					/* archive items */
					/*****************/

					&.archive-items {
						.masonry {
							.masonry-panel {
								width: 100%;
								@include flex-order(1);

								.masonry-panel__content {
									padding: 10px 0;
								}
							}
						}
					}

					/*********/
					/* books */
					/*********/

					&.books {
						.book {
							.image {
								width: 100%;
							}

							.content {
								padding: 10px 30px;
								width: 100%;
							}
						}
					}
				}
			}
		}
	}
}

@media (min-width: 1200px) {}
	
@media (min-width: 992px) {

	/****************/
	/* page content */
	/****************/

	.page-content {

		/***********/
		/* content */
		/***********/

		.content-wrapper {
			.content {
				.content-section {

					/************/
					/* featured */
					/************/

					&.featured {
						.items {
							.item {
								&:nth-child(4) {
									display: none;
								}
							}
						}
					}

					/*****************/
					/* archive items */
					/*****************/

					&.archive-items {
						.masonry {
							.masonry-panel {
								width: 33.33333333%;

								&:nth-child(3n+1) { @include flex-order(1); }
								&:nth-child(3n+2) { @include flex-order(2); }
								&:nth-child(3n+3) { @include flex-order(3); }
							}
						}
					}
				}
			}
		}
	}
}

@media (min-width: 768px) {}

@media (min-width: 481px) {}

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 1199px) {

	/****************/
	/* page content */
	/****************/

	.page-content {

		/***********/
		/* content */
		/***********/

		.content-wrapper {
			.content {
				.content-section {

					/***************/
					/* main banner */
					/***************/

					&.main-banner {
						.main-banner-left {
							h1 {
								font-size: 22px;
							}
						}

						.main-banner-right {
							.about-page-wrapper {
								.about-page {
									font-size: 14px;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media (min-width: 768px) and (max-width: 991px) {

	/****************/
	/* page content */
	/****************/

	.page-content {

		/***********/
		/* content */
		/***********/

		.content-wrapper {
			.content {
				.content-section {

					/************/
					/* featured */
					/************/

					&.featured {
						padding-bottom: 5px;

						.items {
							.item {
								margin-bottom: 15px;
								width: 50%;
							}
						}
					}

					/*****************/
					/* archive items */
					/*****************/

					&.archive-items {
						.masonry {
							.masonry-panel {
								width: 50%;

								&:nth-child(2n+1) { @include flex-order(1); }
								&:nth-child(2n+2) { @include flex-order(2); }
							}
						}
					}
				}
			}
		}
	}
}

@media (min-width: 651px) and (max-width: 767px) {

	/****************/
	/* page content */
	/****************/

	.page-content {

		/***********/
		/* content */
		/***********/

		.content-wrapper {
			.content {
				.content-section {

					/************/
					/* featured */
					/************/

					&.featured {
						.items {
							.item {
								&:nth-child(4) {
									display: none;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media (min-width: 481px) and (max-width: 1199px) {}

@media (min-width: 481px) and (max-width: 991px) {}

@media (min-width: 481px) and (max-width: 767px) {

	/****************/
	/* page content */
	/****************/

	.page-content {

		/***********/
		/* content */
		/***********/

		.content-wrapper {
			.content {
				.content-section {

					/*****************/
					/* archive items */
					/*****************/

					&.archive-items {
						.masonry {
							.masonry-panel {
								width: 33.33333333%;

								&:nth-child(3n+1) { @include flex-order(1); }
								&:nth-child(3n+2) { @include flex-order(2); }
								&:nth-child(3n+3) { @include flex-order(3); }
							}
						}
					}
				}
			}
		}
	}
}

@media (min-width: 481px) and (max-width: 650px) {

	/****************/
	/* page content */
	/****************/

	.page-content {

		/***********/
		/* content */
		/***********/

		.content-wrapper {
			.content {
				.content-section {

					/************/
					/* featured */
					/************/

					&.featured {
						padding-bottom: 5px;

						.items {
							.item {
								margin-bottom: 15px;
								width: 50%;
							}
						}
					}

					/*****************/
					/* archive items */
					/*****************/

					&.archive-items {
						.masonry {
							.masonry-panel {
								width: 50%;

								&:nth-child(2n+1) { @include flex-order(1); }
								&:nth-child(2n+2) { @include flex-order(2); }
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 650px),
       (min-width: 768px) and (max-width: 991px) {

	/****************/
	/* page content */
	/****************/

	.page-content {

		/***********/
		/* content */
		/***********/

		.content-wrapper {
			.content {
				.content-section {

					/************/
					/* timeline */
					/************/

					&.timeline {
						#timeline-embed {

							/*********/
							/* slide */
							/*********/

							.tl-storyslider {
								.tl-slide {
									.tl-slide-content {
										.tl-media {
											margin-top: 0;
										}

										.tl-text {
											width: 100%;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}