@import "functions";

/**
 * These values will not show up in content, but can be 
 * queried by JavaScript to know which breakpoint is active
 */

@media (max-width: 1199px) {
	body:before {
		content: "1199";
	}
}

@media (max-width: 991px) {
	body:before {
		content: "991";
	}
}

@media (max-width: 767px) {
	body:before {
		content: "767";
	}
}

@media (max-width: 480px) {
	body:before {
		content: "480";
	}
}

@media (max-width: 1199px) {

	/******************/
	/* general layout */
	/******************/

	body {
		line-height: 22px;
		font-size: 16px;
	}
}

@media (max-width: 991px) {}

@media (max-width: 767px) {

	/****************/
	/* page content */
	/****************/

	.page-content {

		/***********/
		/* content */
		/***********/

		.content-wrapper {
			border-left: 0;
			border-right: 0;
		}
	}
}

@media (max-width: 480px) {

	/****************/
	/* page content */
	/****************/

	.page-content {

		/***********/
		/* content */
		/***********/

		.content-wrapper {
			.content {
				.content-section {

					/*******/
					/* bio */
					/*******/

					&.bio {
						.bio-left,
						.bio-right {
							width: 100%;
						}

						.bio-left {
							margin-bottom: 20px;
						}
					}
				}
			}
		}
	}
}

@media (min-width: 1200px) {}
	
@media (min-width: 992px) {}

@media (min-width: 768px) {}

@media (min-width: 481px) {}

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 1199px) {

	/****************/
	/* page content */
	/****************/

	.page-content {

		/***********/
		/* content */
		/***********/

		.content-wrapper {
			.content {
				.content-section {

					/***************/
					/* main banner */
					/***************/

					&.main-banner {
						.main-banner-left {
							h1 {
								font-size: 22px;
							}
						}

						.main-banner-right {
							.about-page-wrapper {
								.about-page {
									font-size: 14px;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media (min-width: 768px) and (max-width: 991px) {}

@media (min-width: 481px) and (max-width: 1199px) {}

@media (min-width: 481px) and (max-width: 991px) {}

@media (min-width: 481px) and (max-width: 767px) {}