@import "functions";
@import "typography";

@charset "utf-8";

/******************/
/* general layout */
/******************/

* {
	@include reset;
}

body {
	@include font;
	margin: 0 auto;
	line-height: 24px;
	font-size: 18px;
	font-weight: $font-light;
	color: $font-color;

	&:before {
		content: "1200";
		display: none;
	}
}

.flex-video {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	
	iframe,
	object,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

/****************/
/* page content */
/****************/

.page-content {

	/***********/
	/* sidebar */
	/***********/
	
	.sidebar-wrapper {
		.sidebar {
			padding: 20px 0;

			/********/
			/* logo */
			/********/

			.logo {
				text-align: center;
				margin-bottom: 30px;

				.shape-logo {
					max-width: 265px;
				}
			}

			.sidebar-content {
				.widget {
					margin-bottom: 30px;

					.widgettitle {
						margin-bottom: 5px;
						font-size: 18px;
					}

					/**************************************/
					/* main menu & categories menu widget */
					/**************************************/

					&.widget_nav_menu,
					&.charney-categories-menu-widget {
						ul {
							list-style: none;

							li {
								a {
									font-size: 16px;
									font-weight: $font-light;
									color: $gray-color1;
									text-decoration: none;

									&:hover {
										border-bottom: 1px solid $orange-color2;
									}
								}

								&.main {
									a {
										font-size: 22px;
										color: $black;
									}
								}

								&.current_page_item > a,
								&.current-cat > a {
									border-bottom: 1px solid $orange-color2;
								}

								.children {
									margin-bottom: 5px;
									padding-left: 30px;
									list-style: circle;

									li {
										margin-bottom: -5px;
										color: $gray-color3;

										a {
											font-size: 14px;
											color: $gray-color3;
										}
									}
								}
							}
						}
					}

					/*************************/
					/* formats filter widget */
					/*************************/

					&.charney-formats-filter-widget {
						.clear-filter {
							margin-left: 10px;
							font-size: 12px;
							color: $gray-color3;
							text-decoration: underline;
							cursor: pointer;
						}

						ul {
							list-style: none;

							li {
								margin-left: 10px;
								padding: 0 0 0 20px;
								font-size: 16px;
								font-weight: $font-light;
								color: $gray-color1;
								@include image('svgs/list-item.svg', 10px, 0 7px);
								cursor: pointer;

								&:hover,
								&.active {
									@include image('svgs/list-item-active.svg', 10px, 0 7px);
								}
							}
						}
					}
				}
			}
		}
	}

	/***********/
	/* content */
	/***********/

	.content-wrapper {
		border-left: 1px solid $gray-border;
		border-right: 1px solid $gray-border;

		.content {
			.content-section {
				padding: 20px 0;
				border-bottom: 1px solid $gray-border;

				/***************/
				/* main banner */
				/***************/

				&.main-banner {
					padding: 0;
					background-color: $orange-color6;

					.main-banner-left {
						height: 75px;
					}

					.main-banner-right {
						min-height: 75px;

						.about-page-wrapper {
							text-align: right;

							.about-page {
								line-height: 75px;
								font-size: 16px;
								font-weight: $font-light;
							}
						}

						.logo-wrapper {
							text-align: left;

							.shape-bh-logo {
								max-width: 100%;
								height: 53px;
								margin: 11px 0;
							}
						}
					}
				}

				/***********************/
				/* archive description */
				/***********************/

				&.archive-desc {
					background-color: $orange-color7;

					strong {
						font-size: 28px;
						font-weight: $font-light;
					}
				}

				/***************/
				/* search form */
				/***************/

				&.search-form {
					background-color: $orange-color8;

					form {
						position: relative;
						margin: 5px 0;

						.search-field {
							padding: 3px 30px 3px 3px;
							width: 100%;
							height: 30px;
							border: 1px solid $orange-border;
						}

						.search-submit-wrapper {
							position: absolute;
							padding: 5px;
							top: 0;
							right: 0;
							width: 30px;
							height: 30px;

							.shape-search {
								width: 20px;
								height: 20px;
							}

							.search-submit {
								position: absolute;
								top: 0;
								right: 0;
								width: 30px;
								height: 30px;
								background: transparent;
							}
						}
					}

					small {
						line-height: 20px;
						font-size: 14px;
						font-weight: $font-light;
						display: block;
					}
				}

				/*******/
				/* bio */
				/*******/

				&.bio {
					.bio-right {
						strong {
							font-size: 36px;
							font-weight: $font-light;
						}
					}
				}

				/************/
				/* featured */
				/************/

				&.featured {
					.items {
						display: none;

						.item {
							& > .item-title {
								padding: 0 10px;
								height: 45px;
								line-height: 45px;
								font-size: 21px;
								font-weight: $font-regular;
								color: $gray-color2;
								background-color: $orange-color6;
								white-space: nowrap;
								text-overflow: ellipsis;
								overflow: hidden;
							}

							.item-body-wrap {
								position: relative;
								padding-top: 75%;
								width: 100%;
								overflow: hidden;

								.item-body {
									position: absolute;
									top: 0;
									left: 0;
									bottom: 0;
									right: 0;
								}
							}

							.item-excerpt {
								padding: 5px 10px;
								height: 82px;
								line-height: 24px;
								font-size: 18px;
								font-weight: $font-light;
								color: $font-color;
								background-color: $gray-color6;
								text-overflow: ellipsis;
								display: -webkit-box;
								-webkit-box-orient: vertical;
								-webkit-line-clamp: 3;
								overflow: hidden;
							}
						}
					}
				}

				/************/
				/* timeline */
				/************/

				&.timeline {
					#timeline-embed {
						@include font;

						p {
							line-height: 22px;
							font-size: 16px;
							font-weight: $font-light;
							color: $font-color;
						}

						/*************/
						/* navigator */
						/*************/

						.tl-timenav {
							background-color: $gray-color7;
							border-top: 1px solid $gray-border;

							.tl-timemarker {
								.tl-timemarker-line-left,
								.tl-timemarker-line-right {
									border-color: $gray-color5;
								}

								.tl-timemarker-content-container {
									background-color: $gray-color5;

									.tl-icon-image,
									.tl-headline {
										color: $font-color;
									}
								}

								&.tl-timemarker-active {
									.tl-timemarker-line-left,
									.tl-timemarker-line-right {
										border-color: $orange-color5;
									}

									.tl-timemarker-content-container {
										background-color: $orange-color5;
									}
								}
							}
						}

						/*********/
						/* slide */
						/*********/

						.tl-storyslider {
							.tl-slide {
								.tl-slide-content {
									width: 100% !important;

									.tl-media {
										margin-top: 12px;
										min-width: 25%;
									}

									.tl-text {
										width: 75%;

										.tl-headline-date {
											float: left;
											margin: 10px 20px 0 0;

											&:before {
												content: "(";
											}

											&:after {
												content: ")";
											}
										}

										.tl-headline {
											line-height: 28px;
											font-size: 24px;
											font-weight: $font-light;
										}
									}
								}

								&.tl-slide-text-only {
									.tl-slide-content {
										.tl-text {
											width: 100%;
											max-width: 100%;
										}
									}
								}
							}

							.tl-slidenav-previous,
							.tl-slidenav-next {
								.tl-slidenav-title,
								.tl-slidenav-description {
									display: none;
								}
							}
						}
					}
				}

				/**********************/
				/* subcategories menu */
				/**********************/

				&.subcategories-menu {
					padding: 15px 0;

					ul {
						list-style: none;

						li {
							float: left;
							margin-left: 20px;
							padding: 5px 0 5px 26px;
							@include image('svgs/bullet.svg', 6px, 0 14px);

							&:first-child {
								margin-left: 0;
								padding-left: 0;
								background: none;
							}

							a {
								font-size: 20px;
								color: $gray-color3;
								text-decoration: none;

								&:hover {
									border-bottom: 1px solid $orange-color2;
								}
							}

							&.current-cat {
								a {
									color: $gray-color1;
									border-bottom: 1px solid $orange-color2;
								}
							}
						}
					}
				}

				/*****************/
				/* archive items */
				/*****************/

				&.archive-items {
					display: none;

					.masonry {
						max-width: 100%;
						@include flex;
						@include flex-flow(column, wrap);

						.masonry-panel {
							overflow: hidden;

							.masonry-panel__content {
								padding: 10px;
								@include flex-align-items(center);
							}
						}
					}
				}

				/****************/
				/* post formats */
				/****************/

				&.featured,
				&.archive-items {

					.blog-item {
						cursor: pointer;

						/*****************/
						/* image / video */
						/*****************/

						&.blog-item-image,
						&.blog-item-video {
							figure {
								position: relative;
								overflow: hidden;

								figcaption {
									position: absolute;
									padding: 5px;
									bottom: -50%;
									width: 100%;
									font-size: 16px;
									font-weight: $font-semi-bold;
									color: $white;
									overflow: hidden;
									text-overflow: ellipsis;
									display: -webkit-box;
									-webkit-box-orient: vertical;
									-webkit-line-clamp: 3;
									background: rgba(0,0,0,0.7);
									@include transition(bottom);
								}

								.duration {
									position: absolute;
									padding: 5px;
									top: -50%;
									right: 0;
									font-size: 14px;
									font-weight: $font-semi-bold;
									color: $white;
									background: rgba(0,0,0,0.7);
									@include transition(top);
								}

								.icon-play {
									position: absolute;
									@include calc('top', "50% - 25px");
									@include calc('left', "50% - 25px");
									width: 50px;
								}

								&:hover {
									figcaption {
										bottom: 0;
									}

									.duration {
										top: 0;
									}
								}
							}
						}

						/****************/
						/* audio / link */
						/****************/

						&.blog-item-audio { background: $orange-color8; }
						&.blog-item-link  { background: $gray-color6; }

						&.blog-item-audio,
						&.blog-item-link {
							padding: 10px;
							height: 100%;

							.icon {
								float: left;
								width: 45px;
							}

							.item-title {
								margin-left: 55px;
								line-height: 16px;
								font-size: 14px;
							}
						}

						&.no-url {
							cursor: default;

							.icon-play {
								display: none;
							}
						}
					}
				}
			}

			/*********/
			/* modal */
			/*********/

			.modal {
				.modal-dialog {
					.modal-content {
						-webkit-box-shadow: none;
						-moz-box-shadow:    none;
						box-shadow:         none;
						border: 0;
						@include border-radius(0);
						text-align: center;

						.modal-header {
							border-bottom: 0;

							.modal-title {
								font-size: 18px;
								color: $gray-color2;
							}

							.close {
								position: absolute;
								margin: 0;
								top: 15px;
								right: 15px;
								width: 25px;
								height: 25px;
								@include opacity(.6);

								.close-btn {
									width: 100%;
									height: 100%;
									@include image('svgs/x.svg');
									display: block;
								}

								&:hover {
									@include opacity(1);
								}
							}
						}

						.modal-body {
							padding: 0;

							.audio-iframe {
								width: 100%;
								vertical-align: middle;
							}

							.button {
								position: absolute !important;
								width: 30px;
								height: 30px;
								@include vertical-align;
								cursor: pointer;

								&.button-previous-item { left: 10px; }
								&.button-next-item { right: 10px; }
							}
						}

						.modal-footer {
							border-top: 0;

							.modal-excerpt {
								font-size: 16px;
								text-align: center;
							}
						}
					}
				}
			}
		}
	}
	
	/*************/
	/* not found */
	/*************/
	
	.not-found {
		p {
			margin-bottom: 0;
		}
	}
}

/*******/
/* 404 */
/*******/

.page-404 {}

/**********/
/* footer */
/**********/

footer {}

/**************/
/* responsive */
/**************/

@import "responsive";